* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow: auto;
    font-family: sans-serif;
    max-width: 990px;
    margin: auto;
  }
  /* Start Landing page
           ========================================= */
  .landing_page {
    border: 1px solid #444;
    margin: 20px 0;
  }
  .heading_txt {
    position: relative;
    text-align: center;
    display: inline-block;
    top: -10px;
    left: 22%;
    color: #ffa500;
  }
  
  .header h2 {
    background: #1a1a84;
    text-align: center;
    color: #fff;
    padding: 20px;
    font-size: 2em;
  }
  .landing_page .bold {
    padding: 0 100px;
  }
  .bold {
    font-weight: 900;
    text-align: center;
    font-size: 1em;
    margin-top: 5px;
    padding: 0 150px;
  }
  .text_underline {
    text-decoration: underline;
  }
  .inner_content_content {
    overflow: auto;
    max-width: 77%;
    margin: 20px auto 0px;
  }
  .inner_content_txt {
    float: left;
    max-width: 66%;
  }
  .inner_content_img {
    float: right;
  }
  .landing_page .inner_content_txt span {
    font-size: 1.3em;
  }
  .bold_txt {
    font-size: 1.3em;
    margin-top: 20px;
  }
  .bold_txt span {
    font-size: 18px;
    font-weight: 900;
    color: red;
    text-decoration: underline;
  }
  .subscribe {
    margin: 30px 30px;
  }
  .subscribe input {
    padding: 5px;
    font-size: 15px;
  }
  .subscribe input::placeholder {
    color: #e6dbdb;
  }
  .btn {
    padding: 10px 20px;
    margin: 15px 0 0 65px;
    background: orange;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  .inner_content_logos img {
    display: inline-block;
    margin: 0 25px;
  }
  /* End Landing page
           ========================================= */
  
  /* Start Sales Page
           ========================================= */
  .sales_page {
    overflow: hidden;
  }
  .sales_header_img {
    position: relative;
    top: 10px;
    left: 20px;
  }
  .quotes_content {
    margin: 20px;
  }
  .quotes_content p {
    margin: 0 70px;
    width: 100%;
  }
  .quotes_content img {
    float: left;
    margin-right: 10px;
  }
  .quotes_content q {
    font-family: "roboto";
  }
  
  .quotes_author {
    font-weight: bold;
    color: #1a1a84;
    display: block;
    font-size: 14px;
  }
  
  .sales_page_bottom_txt {
    margin-bottom: 20px;
  }
  .sales_page_bottom_txt span {
    text-align: center;
    display: block;
    margin: 20px 0;
  }
  .images img {
    display: inline-block;
  }
  .table_upper_elements {
    position: relative;
    overflow: hidden;
  }
  .table_upper_arrow {
    float: left;
  }
  
  .table_upper_elements--btn {
    margin: auto;
    position: absolute;
    left: 40%;
    text-align: center;
  }
  .table_upper_elements_img {
    float: right;
    margin-left: 100px;
  }
  
  .sales_table_section {
    margin: auto;
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  table,
  th,
  td {
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  .sales_table {
    text-align: right;
  }
  
  .sales_table th {
    height: 40px;
    padding-right: 5px;
  }
  
  .th_center {
    text-align: center;
  }
  
  .sales_table td {
    padding: 10px 20px;
    text-align: center;
  }
  .tr_bg_color {
    background: #cbfbcb;
  }
  .computer_img_section {
    border: 2px solid #333;
    display: inline-block;
    margin: auto;
    width: 80%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .computer_img_section img {
    display: inline-block;
    margin: auto;
  }
  .computer_txt {
    display: inline-block;
    border-left: 2px solid #333;
    padding: 10px;
  }
  .computer_txt span {
    font-style: italic;
  }
  .yellow_section {
    background: #f7f729;
    margin: 40px 0;
  }
  .yellow_section p {
    text-align: center;
    font-weight: bold;
    padding: 30px 0;
    color: #0f0f8e;
    font-size: 1em;
  }
  .sales_page_long_txt {
    position: relative;
    margin: 20px 0;
  }
  .sales_page_long_txt > p {
    display: inline-block;
    width: 80%;
  }
  .sales_page_long_txt p:last-child {
    margin-top: 20px;
  }
  .sales_page_long_txt img {
    display: inline-block;
  }
  .long_txt_arrow {
    display: inline-block;
    position: relative;
    left: 25%;
  }
  .arrow-btn {
    position: relative;
    top: 10px;
    margin: 40px 10px;
  }
  .bottom_txt h3 {
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .arrow_container {
    position: relative;
  }
  .left_arrow_container {
    left: 39%;
    margin: 0;
  }
  .left-arrow {
    float: right;
  }
  /* End Sales Page
           ========================================= */
  
  /* Start Checkout Page
           ========================================= */
  .top_elements {
    overflow: hidden;
  }
  .checkout_top_images {
    width: 60%;
    float: left;
  }
  .checkout_top_points {
    width: 40%;
    float: right;
  }
  
  .checkout .checkout_inner_content {
    overflow: hidden;
    margin-top: 20px;
  }
  .checkout .checkout_inner_content--img {
    width: 40%;
    float: left;
  }
  .checkout .checkout_inner_content--from {
    width: 60%;
    float: right;
  }
  .payment_method {
    overflow: hidden;
  }
  .payment_form,
  .payment_images {
    width: 49%;
    margin: 10px 0;
    float: left;
  }
  .payment_images {
    float: right;
  }
  .payment_form input {
      margin-bottom: 5px;
  }
  .checkout_inner_content--form {
    overflow: hidden;
    }
  .checkout_inner_content--form input {
    padding: 5px;
    margin: 5px 0;
  }
  .checkout_inner_content--form p {
      margin-bottom: 10px;
  }
  .checkout_input input {
    width: 48.8%;
    display: inline-block;
  }
  .dropdown_container {
    margin: 10px 0;
  }
  .dropdown_container select {
      padding: 5px;
  }
  .dropdown_container .dropdown_menu {
    width: 50%;
  }
  .payment_second_input > input {
    width: 99%;
  }
  .payment_third_input input:nth-child(1) {
    width: 20%;
  }
  .payment_third_input input:nth-child(2) {
    width: 77.5%;
  }
  
  .payment_images--img {
    display: inline-block;
    width: 48%;
  }
  .payment_images--img img {
      position: relative;
      top: 10px;
  }
  .checkout .checkbox {
    margin-top: 10px;
  }
  .payment_center_img {
    display: block;
    margin: auto;
  }
  #checkout-modal {
      overflow: auto;
      border: 1px solid #ccc;
      border-radius: 10px;
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 80%;
      height: 80%;
      margin: auto;
      background: #fff;
      -webkit-animation-name: fadeIn;
      -webkit-animation-duration: 0.4s;
      animation-name: fadeIn;
      animation-duration: 0.4s;
      box-shadow:rgb(209, 175, 209) 1px 1px 14px 3px;
  }
  .close {
      border: 1px solid #ccc;
      color: #ccc;
      float: right;
      font-size: 26px;
      font-weight: bold;
      cursor: pointer;
      margin: 5px 10px;
      padding: 0;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
    }
    .checkout_inner_section {
        margin: 10px;
    }
    button {
        border: none;
        outline: none;
        cursor: pointer;        
    }
  /* End Checkout Page
           ========================================= */